/* 全局样式重置 */
html,body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Microsoft YaHei", Tahoma, "宋体";
    /* font-family: "Europa", "europa", Avenir, sans-serif; */
}
div{
    -webkit-box-sizing:border-box;
            box-sizing:border-box;
}
a{
    text-decoration:none
}
ul>li{
    list-style: none;
}
.el-row,
.el-col {
    height: 100%;
}